<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- start: Icons -->
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- start: Icons -->
    <!-- start: CSS -->
    <link rel="stylesheet" href="/css2/bootstrap.min.css">
    <link rel="stylesheet" href="/css2/style.css">
    <style>
      ul>li>a{
          text-decoration: none;
  color: black;
  font-size: 20px;
 margin-left: 15px;
 margin-top: 10px;
 font-family: -webkit-body;
      }
      .show-submenu {
display: block;
}
.sidebar-submenu {
display: none;
}
.active {
background-image: linear-gradient(195deg, #49a3f1 0%, #1A73E8 100%);
color: white; 
}
.a-tag{
      padding: 5px;
  }
  button{
    width: 140px;
  }
  form{
    align-items: center;
  }
  </style>
    <title>Admin Dashboard</title>
</head>
<body>
    <div class="row">
        <div class="col-lg-2">
 <!-- start: Sidebar -->
 <div class="sidebar position-fixed top-0 bottom-0 bg-white border-end">
  <div class="d-flex align-items-center p-3">
      <a href="#" class="sidebar-logo text-uppercase fw-bold text-decoration-none text-indigo fs-4">Admin</a>
      <i class="sidebar-toggle ri-arrow-left-circle-line ms-auto fs-5 d-none d-md-block"></i>
  </div>
  <ul class="sidebar-menu p-3 m-0 mb-0">
      <li class="sidebar-menu-item <%= currentPage === 'dashboard' ? 'active' : '' %>">
          <a href="/admin/dashboard" class="a-tag rounded-pill">
              <i class="ri-dashboard-line sidebar-menu-item-icon"></i>
              Dashboard
          </a>
      </li>
      <li class="sidebar-menu-divider mt-3 mb-1 text-uppercase">Custom</li>
      <li class="sidebar-menu-item has-dropdown">
              <!-- <li class="sidebar-dropdown-menu-item - ">
                  <i class="fa-solid fa-users "></i>
                  <a href="/admin/usersProfile">Users</a>
                </li> -->
                <li class="nav-item " >
                  <a  href="/admin/usersProfile" class="nav-link  a-tag rounded-pill <%= currentPage === 'usersProfile' ? 'active' : '' %> "  style="display: flex;">
                      <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                      <i class="fa-solid fa-users " style="color: black;"></i>
                    </div>
                    <span class="nav-link-text ms-1">Users</span>
                  </a>
                </li>
                <li class="nav-item " >
                  <a class="nav-link a-tag rounded-pill  "  style="display: flex;" href="/admin/categories">
                    <div class="text-white text-center me-2 d-flex align-items-center justify-content-center  <%= currentPage === 'categories' ? 'active' : '' %>" >
                      <!-- <i class="fa-solid fa-users " style="color: black;"></i> -->
                      <i class="fa-sharp fa-solid fa-tag" style="color: black;"></i>
                    </div>
                    <span class="nav-link-text ms-1">Categories</span>
                  </a>
                </li>
                <li class="nav-item " >
                  <a class="nav-link  a-tag rounded-pill " href="/admin/coupons" style="display: flex;">
                    <div class="text-white text-center me-2 d-flex align-items-center justify-content-center <%= currentPage === 'coupons' ? 'active' : '' %>">
                     <i class="fa-solid fa-box-open" style="color: black;"></i>
                    </div>
                    <span class="nav-link-text ms-1">Coupons</span>
                  </a>
                </li>
                <li class="nav-item " >
                  <a class="nav-link  a-tag rounded-pill " href="/admin/UsersOrders" style="display: flex;">
                    <div class="text-white text-center me-2 d-flex align-items-center justify-content-center <%= currentPage === 'UsersOrders' ? 'active' : '' %>">
                     <i class="fa-solid fa-bag-shopping" style="color: black;"></i>
                    </div>
                    <span class="nav-link-text ms-1">Orders</span>
                  </a>
                </li>
                <li class="nav-item " >
                  <a class="nav-link  a-tag rounded-pill " href="/admin/offers" style="display: flex;">
                    <div class="text-white text-center me-2 d-flex align-items-center justify-content-center <%= currentPage === 'offers' ? 'active' : '' %>">
                     <i class="fa-solid fa-percent" style="color: black;"></i>
                    </div>
                    <span class="nav-link-text ms-1">Offers</span>
                  </a>
                </li>
                <li class="nav-item " >
                  <a class="nav-link a-tag rounded-pill  " href="/admin/brandOffers" style="display: flex;">
                    <div class="text-white text-center me-2 d-flex align-items-center justify-content-center <%= currentPage === 'brandOffers' ? 'active' : '' %>">
                     <i class="fa-sharp fa-solid fa-tags" style="color: black;"></i>
                    </div>
                    <span class="nav-link-text ms-1">BrandOffers</span>
                  </a>
                </li>
                <li class="nav-item " >
                  <a class="nav-link  a-tag rounded-pill <%= currentPage === 'Banners' ? 'active' : '' %>" href="/admin/banners" style="display: flex;">
                    <div class="text-white text-center me-2 d-flex align-items-center justify-content-center ">
                     <i class="fa-sharp fa-regular fa-images" style="color: black;"></i>
                    </div>
                    <span class="nav-link-text ms-1">Banner</span>
                  </a>
                </li>
                <li class="nav-item sidebar-dropdown-menu-item has-dropdown dropdown-toggle" >
                  <a class="nav-link  a-tag rounded-pill " href="#" style="display: flex;">
                    <div class="text-white text-center me-2 d-flex align-items-center justify-content-center <%= currentPage === 'products' ? 'active' : '' %>">
                     <i class="fa-solid fa-box-open" style="color: black;"></i>
                    </div>
                    <span class="nav-link-text ms-1">Products</span>
                    <i class="ri-arrow-down-s-line sidebar-menu-item-accordion ms-auto"></i>
                  </a>
                  <ul class="sidebar-submenu">
                    <li class="sidebar-submenu-item">
                      <a href="/admin/products" style="font-size: inherit;">All Products</a>
                    </li>
                    <li class="sidebar-submenu-item">
                      <a href="/admin/products/add" style="font-size: inherit;">Add Product</a>
                    </li>
                    <!-- Add more submenu items as needed -->
                  </ul>
                </li>
     </li>
     </ul>
</div>
<div class="sidebar-overlay"></div>
</div>
<!-- end: Sidebar -->
        <div class="col-lg-10" style="  padding-left: 60px">
  <!-- Navbar -->
  <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" data-scroll="true">
    <div class="container-fluid py-1 px-3 ">
      <nav aria-label="breadcrumb">
        <h6 class="font-weight-bolder mb-0"><%= currentPage %></h6>
      </nav>
      <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4 d-flex justify-content-end" id="navbar">
        <ul class="navbar-nav d-flex justify-content-end ">
          <li class="nav-item d-xl-none ps-3 d-flex align-items-center me-2">
            <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
              <div class="sidenav-toggler-inner">
                <i class="sidenav-toggler-line"></i>
                <i class="sidenav-toggler-line"></i>
                <i class="sidenav-toggler-line"></i>
              </div>
            </a>
          </li>
          <li class="nav-item d-flex align-items-center">
            <a href="/admin/logout" class="nav-link text-body font-weight-bold px-0">
              <form action="/admin/logout" method="post">
                <i class="fa fa-user me-sm-1"></i>
                <button class="border-0 bg-transparent text-bold" type="submit"><span class="d-sm-inline d-none opacity-7">Log Out</span></button>
              </form>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->
  <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
    <div class="bg-gradient-info shadow-primary border-radius-lg pt-4 pb-3 d-flex justify-content-between" style="background-image: linear-gradient(195deg, #49a3f1 0%, #1A73E8 100%);">
      <h6 class="text-white text-capitalize ps-3">Banners</h6> 
      <!-- <div> -->
        <!-- <a class="btn bg-gradient-dark me-3" href="/admin/products/addProduct">Add Product</a> -->
      <!-- </div>   -->
    </div>
  </div>
    <section>
        <div class="container">
            <div class="mb-5 mt-5">
                <div class="banner-1 row">
                    <div class="mt-5">
                        <% 
                        // Code to update existing banner
                        if(banners && banners.length>0){
                            for(let i=0; i<banners.length; i++){
                                %>
                                <div class="my-3 col-lg-12" style="display: grid; place-content: center; ">
                                    <div class="card  p-4 d-flex aligh-items-center justify-content-center " style="width: 700px;">
                                        <div>
                                            <p class="h5 text-center my-3">Banner <%= i+1 %></p>
                                            <img src="/images/bannerImages/<%= banners[i].image %>" class="img-fluid" alt="" style="max-width: 60%;">
                                            <form action="/admin/updateBanner/<%= banners[i]._id %>" method="post" enctype="multipart/form-data" class="d-flex flex-column">
                                                <div class="my-3">
                                                    <label for="imageUrl">URL : </label><br>
                                                    <input type="text" name="url" id="urlInput" class="mb-2 urlInput" placeholder="Enter Image URL" value="<%= banners[i].url %>" readonly><br>
                                                    <label for="imageUrl">Heading : </label><br>
                                                    <input type="text" name="heading" class="headingInput" id="headingInput" value="<%= banners[i].heading %>" placeholder="Enter Banner Heading" required readonly>
                                                </div>
                                                <input type="file" class="imageInput" id="imageInput" accept="image/*" name="bannerImage" single hidden><br>
                                                <button type="button" class="btn btn-primary my-3 border-0 editButton" id="editButton" >
                                                    Edit Banner <i class="bi bi-pencil-square"></i>
                                                </button>
                                                <div id="footerBTNDiv" class="d-flex flex-column footerBTNDiv">
                                                    <button type="submit" id="updateSubmitBTN" class="btn btn-warning my-3 updateSubmitBTN" hidden>Update Banner</button>
                                                    <button type="button" id="cancelEditBTN" class="btn btn-secondary my-3 cancelEditBTN" hidden>Cancel</button>
                                                </div>
                                            </form>
                                            <form action="/admin/deleteBanner/<%= banners[i]._id %>" method="post" class="d-flex flex-column">
                                                <button type="submit" class="btn btn-danger deleteBannerBTN">Delete Banner <i class="bi bi-trash"></i></button>
                                            </form>
                                            <!-- <a href=""><i class="bi bi-trash"></i></a> -->
                                        </div>
                                    </div>
                                </div>
                                <% 
                            }
                        }
                        //Code to add new banners, banner limit is 3
                        if(banners && banners.length<3){
                            //for(let i= banners.length; i<bannerLimit; i++){
                                %>
                                <div class="my-3" style="display: grid; place-content: center;">
                                    <div class="card p-4">
                                        <p class="h5 text-center">Banner <%= banners.length+1 %></p>
                                        <form action="/admin/addBanner" method="post" enctype="multipart/form-data" class="d-flex flex-column">
                                            <div class="my-4 align-content-center">
                                                <div class="my-3">
                                                    <label for="imageUrl">URL : </label><br>
                                                    <input type="text" name="url" id="addUrl" value="/shop" placeholder="Enter Image URL" required>
                                                </div>
                                                <div class="my-3">
                                                    <label for="imageUrl">Heading : </label><br>
                                                    <input type="text" name="heading" id="addHeading" placeholder="Enter Banner Heading" required>
                                                </div>
                                                <input type="file" id="addImage" accept="image/*" name="bannerImage" style="margin-left: 119px;" single required>
                                            </div>
                                            <div class="text-center d-flex flex-column">
                                                <button class="btn btn-success mt-3" type="submit">
                                                    Add Banner
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <%  
                            //}
                        }
                        %>
                    </div>
                </div>
            </div>
        </div>
    </section>
        </div>
    </div>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const editButtons = document.querySelectorAll('.editButton')
        const urlInputs = document.querySelectorAll('.urlInput');
        const headingInputs = document.querySelectorAll('.headingInput');
        const imageInputs = document.querySelectorAll('.imageInput');
        const footerBTNDivs = document.querySelectorAll('.footerBTNDiv');
        const updateSubmitBTNs = document.querySelectorAll('.updateSubmitBTN');
        const cancelEditBTNs = document.querySelectorAll('.cancelEditBTN')
        const deleteBannerBTNs = document.querySelectorAll('.deleteBannerBTN')
        editButtons.forEach((editButton, index) => {
            editButton.addEventListener('click', () => {
                urlInputs[index].removeAttribute('readonly');
                headingInputs[index].removeAttribute('readonly');
                imageInputs[index].hidden = false;
                updateSubmitBTNs[index].hidden = false;
                cancelEditBTNs[index].hidden = false;
                editButtons[index].hidden = true;
                deleteBannerBTNs[index].hidden = true;
                urlInputs[index].focus(); // This will automatically focus the cursor in the input field after clicking the "Edit" button.
            });
        })
        cancelEditBTNs.forEach((cancelBTN, index) => {
            cancelBTN.addEventListener('click', function () {
                headingInputs[index].setAttribute('readonly', true);
                urlInputs[index].setAttribute('readonly', true);
                imageInputs[index].hidden = true
                updateSubmitBTNs[index].hidden = true;
                cancelEditBTNs[index].hidden = true;
                editButtons[index].hidden = false;
                deleteBannerBTNs[index].hidden = false;
            });
        });
    })
</script>
 <!-- start: JS -->
    <script src="/js2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js" integrity="sha512-sW/w8s4RWTdFFSduOTGtk4isV1+190E/GghVffMA9XczdJ2MDzSzLEubKAs5h0wzgSJOQTRYyaz73L3d6RtJSg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js2/bootstrap.bundle.min.js"></script>
    <script src="/js2/script.js"></script>
    <!-- end: JS -->
</body>
</html>
