<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>H&F Hub</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <!-- start: Icons -->
     <!-- start: Icons -->
     <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
     <!-- start: Icons -->
    <!-- start: CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<!-- Cropper CSS -->
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.4/cropper.min.css'>
<!-- Cropper JS -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/cropperjs/0.8.1/cropper.min.js'></script>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.2/dropzone.min.css">
<!-- Custom CSS -->
    <link rel="stylesheet" href="/css2/bootstrap.min.css">
    <link rel="stylesheet" href="/css2/style.css">
    <link rel="stylesheet" href="/admin/nucleo-svg.css">
    <link rel="stylesheet" href="/admin/nucleo-icons.css">
    <link rel="stylesheet" href="/admin/material-dashboard.min.css">
    <link rel="stylesheet" href="/admin/material-dashboard.css">
    <style>
        .card {
            z-index: 0;
        }
        .top {
            padding-top: 40px;
            padding-left: 13% !important;
            padding-right: 13% !important;
        }
        /* Icon progressbar */
        #progressbar {
            margin-bottom: 30px;
            overflow: hidden;
            color: #455a64;
            padding-left: 0;
            margin-top: 30px;
        }
        #progressbar li {
            list-style-type: none;
            /* font-size: 9px; */
            width: 25%;
            float: left;
            position: relative;
            /* font-weight: 400; */
        }
        #progressbar .step0::before {
            font-family: FontAwesome;
            content: '\f10c';
            color: #fff;
        }
        #progressbar li::before {
            width: 20px;
            height: 20px;
            line-height: 20px;
            display: block;
            font-size: 10px;
            background: #c5cae9;
            border-radius: 50%;
            margin: auto;
            padding: 0;
        }
        /* Progressbar connector */
        #progressbar li::after {
            content: '';
            width: 100%;
            height: 4px;
            background-color: #c5cae9;
            position: absolute;
            top: 8px;
            left: 0;
            z-index: -1;
        }
        #progressbar li:last-child::after {
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            position: absolute;
            left: -50%;
        }
        #progressbar li:nth-child(2)::after,
        #progressbar li:nth-child(3)::after {
            left: -50%;
        }
        #progressbar li:first-child::after {
            border-top-left-radius: 10px;
            border-bottom-right-radius: 10px;
            position: absolute;
            left: 50%;
        }
        /* Color number of the step and the connect tor before it */
        #progressbar li.active::before,
        #progressbar li.active::after {
            background-color: #0ac419;
        }
        #progressbar li.active::before {
            font-family: FontAwesome;
            content: '\f00c';
        }
        @media screen and (max-width: 992px) {
            .icon-content {
                width: 50%;
            }
        }
    </style>
    <script>
      function formatDate(date) {
          const options = { year: 'numeric', month: 'long', day: 'numeric' };
          return date.toLocaleDateString(undefined, options);
      }
    </script>
<style>
    ul>li>a{
        text-decoration: none;
color: black;
font-size: 20px;
margin-left: 15px;
margin-top: 10px;
font-family: -webkit-body;
    }
    .a-tag{
        padding: 5px;
    }
    .show-submenu {
display: block;
}
.sidebar-submenu {
display: none;
}
.sidebar-menu-item.active {
    background-image: linear-gradient(195deg, #49a3f1 0%, #1A73E8 100%);
color: white; 
}
.active {
 background-image: linear-gradient(195deg, #49a3f1 0%, #1A73E8 100%);
color: white; 
}
#sortTable_filter{
  text-align: end;
}
.form-control {
  border:1px solid black
}
.custom-select {
  padding: 1px;
}
</style>
</head>
<body style="overflow-x: hidden;">
  <div class="row">
    <div class="col-lg-2">
  <!-- start: Sidebar -->
  <div class="sidebar position-fixed top-0 bottom-0 bg-white border-end">
    <div class="d-flex align-items-center p-3">
        <a href="#" class="sidebar-logo text-uppercase fw-bold text-decoration-none text-indigo fs-4">Admin</a>
        <i class="sidebar-toggle ri-arrow-left-circle-line ms-auto fs-5 d-none d-md-block"></i>
    </div>
    <ul class="sidebar-menu p-3 m-0 mb-0">
        <li class="sidebar-menu-item <%= currentPage === 'dashboard' ? 'active' : '' %>">
            <a href="/admin/dashboard" class="a-tag rounded-pill">
                <i class="ri-dashboard-line sidebar-menu-item-icon"></i>
                Dashboard
            </a>
        </li>
        <li class="sidebar-menu-divider mt-3 mb-1 text-uppercase">Custom</li>
        <li class="sidebar-menu-item has-dropdown">
                <!-- <li class="sidebar-dropdown-menu-item - ">
                    <i class="fa-solid fa-users "></i>
                    <a href="/admin/usersProfile">Users</a>
                  </li> -->
                  <li class="nav-item " >
                    <a  href="/admin/usersProfile" class="nav-link  a-tag rounded-pill <%= currentPage === 'UsersProfile' ? 'active' : '' %> "  style="display: flex;">
                        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="fa-solid fa-users " style="color: black;"></i>
                      </div>
                      <span class="nav-link-text ms-1">Users</span>
                    </a>
                  </li>
                  <li class="nav-item " >
                    <a class="nav-link a-tag rounded-pill  "  style="display: flex;" href="/admin/categories">
                      <div class="text-white text-center me-2 d-flex align-items-center justify-content-center  <%= currentPage === 'categories' ? 'active' : '' %>" >
                        <!-- <i class="fa-solid fa-users " style="color: black;"></i> -->
                        <i class="fa-sharp fa-solid fa-tag" style="color: black;"></i>
                      </div>
                      <span class="nav-link-text ms-1">Categories</span>
                    </a>
                  </li>
                  <li class="nav-item " >
                    <a class="nav-link  a-tag rounded-pill " href="/admin/coupons" style="display: flex;">
                      <div class="text-white text-center me-2 d-flex align-items-center justify-content-center <%= currentPage === 'coupons' ? 'active' : '' %>">
                       <i class="fa-solid fa-box-open" style="color: black;"></i>
                      </div>
                      <span class="nav-link-text ms-1">Coupons</span>
                    </a>
                  </li>
                  <li class="nav-item " >
                    <a class="nav-link  a-tag rounded-pill <%= currentPage === 'UsersOrders' ? 'active' : '' %>" href="/admin/UsersOrders" style="display: flex;">
                      <div class="text-white text-center me-2 d-flex align-items-center justify-content-center ">
                       <i class="fa-solid fa-bag-shopping" style="color: black;"></i>
                      </div>
                      <span class="nav-link-text ms-1">Orders</span>
                    </a>
                  </li>
                  <li class="nav-item " >
                    <a class="nav-link  a-tag rounded-pill " href="/admin/offers" style="display: flex;">
                      <div class="text-white text-center me-2 d-flex align-items-center justify-content-center <%= currentPage === 'offers' ? 'active' : '' %>">
                       <i class="fa-solid fa-percent" style="color: black;"></i>
                      </div>
                      <span class="nav-link-text ms-1">Offers</span>
                    </a>
                  </li>
                  <li class="nav-item " >
                    <a class="nav-link a-tag rounded-pill  " href="/admin/brandOffers" style="display: flex;">
                      <div class="text-white text-center me-2 d-flex align-items-center justify-content-center <%= currentPage === 'brandOffers' ? 'active' : '' %>">
                       <i class="fa-sharp fa-solid fa-tags" style="color: black;"></i>
                      </div>
                      <span class="nav-link-text ms-1">BrandOffers</span>
                    </a>
                  </li>
                  <li class="nav-item " >
                    <a class="nav-link  a-tag rounded-pill " href="/admin/banners" style="display: flex;">
                      <div class="text-white text-center me-2 d-flex align-items-center justify-content-center <%= currentPage === 'banners' ? 'active' : '' %>">
                       <i class="fa-sharp fa-regular fa-images" style="color: black;"></i>
                      </div>
                      <span class="nav-link-text ms-1">Banner</span>
                    </a>
                  </li>
                  <li class="nav-item sidebar-dropdown-menu-item has-dropdown dropdown-toggle" >
                    <a class="nav-link  a-tag rounded-pill " href="#" style="display: flex;">
                      <div class="text-white text-center me-2 d-flex align-items-center justify-content-center <%= currentPage === 'banners' ? 'active' : '' %>">
                       <i class="fa-solid fa-box-open" style="color: black;"></i>
                      </div>
                      <span class="nav-link-text ms-1">Products</span>
                      <i class="ri-arrow-down-s-line sidebar-menu-item-accordion ms-auto"></i>
                    </a>
                    <ul class="sidebar-submenu">
                      <li class="sidebar-submenu-item">
                        <a href="/admin/products" style="font-size: inherit;">All Products</a>
                      </li>
                      <li class="sidebar-submenu-item">
                        <a href="/admin/products/add" style="font-size: inherit;">Add Product</a>
                      </li>
                      <!-- Add more submenu items as needed -->
                    </ul>
                  </li>
       </li>
       </ul>
</div>
<div class="sidebar-overlay"></div>
</div>
<!-- end: Sidebar -->
<div class="col-lg-10" style="padding-left: 40px;">
                 <!-- Navbar -->
  <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" data-scroll="true">
    <div class="container-fluid py-1 px-3 ">
      <nav aria-label="breadcrumb">
        <h6 class="font-weight-bolder mb-0"><%= currentPage %></h6>
      </nav>
      <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4 d-flex justify-content-end" id="navbar">
        <ul class="navbar-nav d-flex justify-content-end ">
          <li class="nav-item d-xl-none ps-3 d-flex align-items-center me-2">
            <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
              <div class="sidenav-toggler-inner">
                <i class="sidenav-toggler-line"></i>
                <i class="sidenav-toggler-line"></i>
                <i class="sidenav-toggler-line"></i>
              </div>
            </a>
          </li>
          <li class="nav-item d-flex align-items-center">
            <a href="/admin/logout" class="nav-link text-body font-weight-bold px-0">
              <form action="/admin/logout" method="post">
                <i class="fa fa-user me-sm-1"></i>
                <button class="border-0 bg-transparent text-bold" type="submit"><span class="d-sm-inline d-none opacity-7">Log Out</span></button>
              </form>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->
<section>
    <div class="container">
        <div class="mt-5">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-info shadow-primary border-radius-lg pt-4 pb-3" style="    text-align: center;">
                  <h6 class="text-white text-capitalize ps-3">View Order</h6>
                </div>
              </div>
            <div class="card mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="card-title">Delivery Address</h4>
                            <h6 class="card-text" style="font-size: 1.2rem;">
                                <%= orderData.deliveryAddress.userName %> <!-- Displaying the user's name -->
                            </h6>
                            <span class="card-text">
                                <%= orderData.deliveryAddress.address %><br> <!-- Displaying the address -->
                                <%= orderData.deliveryAddress.town %>, <!-- Displaying the town -->
                                <%= orderData.deliveryAddress.state %> - <!-- Displaying the state -->
                                <%= orderData.deliveryAddress.zip %><br> <!-- Displaying the ZIP code -->
                                <%= orderData.deliveryAddress.country %> <!-- Displaying the country -->
                            </span><br>
                            <!-- Additional delivery address details can be added similarly -->
                        </div>
                        <div class="col-md-6">
                            <% 
            if(status <= 4){
                %>
                <div class="card pb-3">
                    <div class="text-center mt-3">
                        <h4 class="card-title">Order Status</h4>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <div class="col-12">
                            <ul id="progressbar" class="text-center">
                                <li class="<% if(status >= 1){ %>  active <% } %> step0">Order Confirmed </li>
                                <li class="<% if(status >= 2){ %>  active <% } %> step0">Shipped</li>
                                <li class="<% if(status >= 3){ %>  active <% } %> step0">Out for delivery</li>
                                <li class="<% if(status >= 4){ %>  active <% } %> step0">Delivered</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <%  
            }
            %>
                        </div>
                    </div>
                </div>
            </div>
  <!-- prods -->
  <div class="row mt-4">
    <% 
    for(const pdt of orderData.products){
        %>
            <div class="col-sm-6 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex">
                            <a href="/shop/productOverview/<%= pdt.productId._id %>">
                                <div class="mx-3">
                                    <img src="/uploads/<%= pdt.productId.images[0] %>"
                                        class="img-fluid" alt="" width="120rem">
                                </div>
                            </a>
                            <div>
                                <h4 class="card-title"><%= pdt.productName %></h4>
                                <!-- <span class="card-text" style="color: rgb(99, 99, 99);">Size: M</span><br> -->
                                <span class="card-text" style="color: rgb(99, 99, 99);">Quantity : <%= pdt.quantity %></span>
                                <h5 class="card-title mt-2">₹ <%= pdt.totalPrice - pdt.totalDiscount %></h5>
                                <!-- <div class="col-md-2 d-flex justify-content-center align-items-center"> -->
                                    <h6
                                        <% 
                                        if(pdt.status == 'Order Confirmed' || pdt.status == 'Shipped' || pdt.status == 'Out For Delivery' ||  pdt.status == 'Delivered' ){
                                            %>
                                            style="color: green;"
                                            <%  
                                        }else if( pdt.status == 'Cancelled' || pdt.status == 'Cancelled By Admin' ){
                                            %>
                                            style="color: red;"
                                            <%  
                                        }else if(pdt.status == 'Pending Return Approval'||  pdt.status == 'Returned'){
                                            %>
                                            style="color: orange;"
                                            <%  
                                        }
                                        %>
                                     ><%= pdt.status %></h6>
                                <!-- </div> -->
                            </div>
                            <div class="col-md-4 d-flex mb-3 pt-2 justify-content-center align-items-center">
                                <% 
                                if(pdt.status !== 'Cancelled' && pdt.status !== 'Cancelled By Admin') {
                                  if(orderData.status === 'Order Confirmed' || pdt.status === 'Shipped' || pdt.status === 'Out For Delivery') {
                                %>
                                    <a href="/admin/cancelSinglePrdt/<%= orderData._id %>/<%= pdt._id %>?cancelledBy=admin" class="btn btn-danger"> Cancel </a>
                                <%
                                  } else if(pdt.status === 'Pending Return Approval') {
                                %>
                                    <a href="/admin/approveReturnSinglePrdt/<%= orderData._id %>/<%= pdt._id %>" class="btn btn-warning"> Approve </a>
                                <%
                                  }
                                }
                                %>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        <%  
    }
    %>
</div>
</div>
</div>
</section>
<div class="modal fade" id="cancelOrderPopup" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <strong>Are you sure? Do you want to Cancel this Order!?</strong>
            </div>
            <div class="modal-footer mt-2">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a id="confirmOrderCancellationBTN" href="" class="btn btn-danger">Confirm Cancellation</a>
            </div>
        </div>
    </div>
</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $('#cancelOrderBTN').click(function() {
            var orderId = $(this).data('id');
            var routeURL = `/cancelOrder/${orderId}?cancelledBy=user`;
            $("#confirmOrderCancellationBTN").attr('href', routeURL);
        });
    });
    $(document).ready(function() {
    $('.cancelOrderBTN').click(function() {
        // Get the cancel URL from the data attribute
        const cancelUrl = $(this).data('url');
        // Set the href of the confirmation button in the modal
        $('#confirmOrderCancellationBTN').attr('href', cancelUrl);
        // Show the modal
        $('#cancelOrderPopup').modal('show');
    });
});
</script>
<script src="/js2/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js" integrity="sha512-sW/w8s4RWTdFFSduOTGtk4isV1+190E/GghVffMA9XczdJ2MDzSzLEubKAs5h0wzgSJOQTRYyaz73L3d6RtJSg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/js2/bootstrap.bundle.min.js"></script>
  <script src="/js2/script.js"></script>
  <!-- end: JS -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
 <!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous"></script>
</body>
</html>