<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- start: Icons -->
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- start: Icons -->
    <!-- start: CSS -->
    <link rel="stylesheet" href="/css2/bootstrap.min.css">
    <link rel="stylesheet" href="/css2/style.css">
    <style>
      ul>li>a{
          text-decoration: none;
  color: black;
  font-size: 20px;
 margin-left: 15px;
 margin-top: 10px;
 font-family: -webkit-body;
      }
      .show-submenu {
display: block;
}
.sidebar-submenu {
display: none;
}
.active {
background-image: linear-gradient(195deg, #49a3f1 0%, #1A73E8 100%);
color: white; 
}
.a-tag{
      padding: 10px;
  }
  .error{
    color: red;
  }
  </style>
    <title>Admin Dashboard</title>
</head>
<body>
 <!-- start: Sidebar -->
 <div class="sidebar position-fixed top-0 bottom-0 bg-white border-end">
  <div class="d-flex align-items-center p-3">
      <a href="#" class="sidebar-logo text-uppercase fw-bold text-decoration-none text-indigo fs-4">Admin</a>
      <i class="sidebar-toggle ri-arrow-left-circle-line ms-auto fs-5 d-none d-md-block"></i>
  </div>
  <ul class="sidebar-menu p-3 m-0 mb-0">
      <li class="sidebar-menu-item <%= currentPage === 'dashboard' ? 'active' : '' %>">
          <a href="/admin/dashboard" class="a-tag rounded-pill">
              <i class="ri-dashboard-line sidebar-menu-item-icon"></i>
              Dashboard
          </a>
      </li>
      <li class="sidebar-menu-divider mt-3 mb-1 text-uppercase">Custom</li>
      <li class="sidebar-menu-item has-dropdown">
              <!-- <li class="sidebar-dropdown-menu-item - ">
                  <i class="fa-solid fa-users "></i>
                  <a href="/admin/usersProfile">Users</a>
                </li> -->
                <li class="nav-item " >
                  <a  href="/admin/usersProfile" class="nav-link  a-tag rounded-pill <%= currentPage === 'usersProfile' ? 'active' : '' %> "  style="display: flex;">
                      <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                      <i class="fa-solid fa-users " style="color: black;"></i>
                    </div>
                    <span class="nav-link-text ms-1">Users</span>
                  </a>
                </li>
                <li class="nav-item " >
                  <a class="nav-link a-tag rounded-pill  "  style="display: flex;" href="/admin/categories">
                    <div class="text-white text-center me-2 d-flex align-items-center justify-content-center  <%= currentPage === 'categories' ? 'active' : '' %>" >
                      <!-- <i class="fa-solid fa-users " style="color: black;"></i> -->
                      <i class="fa-sharp fa-solid fa-tag" style="color: black;"></i>
                    </div>
                    <span class="nav-link-text ms-1">Categories</span>
                  </a>
                </li>
                <li class="nav-item " >
                  <a class="nav-link  a-tag rounded-pill " href="/admin/coupons" style="display: flex;">
                    <div class="text-white text-center me-2 d-flex align-items-center justify-content-center <%= currentPage === 'coupons' ? 'active' : '' %>">
                     <i class="fa-solid fa-box-open" style="color: black;"></i>
                    </div>
                    <span class="nav-link-text ms-1">Coupons</span>
                  </a>
                </li>
                <li class="nav-item " >
                  <a class="nav-link  a-tag rounded-pill " href="/admin/UsersOrders" style="display: flex;">
                    <div class="text-white text-center me-2 d-flex align-items-center justify-content-center <%= currentPage === 'UsersOrders' ? 'active' : '' %>">
                     <i class="fa-solid fa-bag-shopping" style="color: black;"></i>
                    </div>
                    <span class="nav-link-text ms-1">Orders</span>
                  </a>
                </li>
                <li class="nav-item " >
                  <a class="nav-link  a-tag rounded-pill " href="/admin/offers" style="display: flex;">
                    <div class="text-white text-center me-2 d-flex align-items-center justify-content-center <%= currentPage === 'offers' ? 'active' : '' %>">
                     <i class="fa-solid fa-percent" style="color: black;"></i>
                    </div>
                    <span class="nav-link-text ms-1">Offers</span>
                  </a>
                </li>
                <li class="nav-item " >
                  <a class="nav-link a-tag rounded-pill  " href="/admin/brandOffers" style="display: flex;">
                    <div class="text-white text-center me-2 d-flex align-items-center justify-content-center <%= currentPage === 'brandOffers' ? 'active' : '' %>">
                     <i class="fa-sharp fa-solid fa-tags" style="color: black;"></i>
                    </div>
                    <span class="nav-link-text ms-1">BrandOffers</span>
                  </a>
                </li>
                <li class="nav-item " >
                  <a class="nav-link  a-tag rounded-pill " href="/admin/banners" style="display: flex;">
                    <div class="text-white text-center me-2 d-flex align-items-center justify-content-center <%= currentPage === 'banners' ? 'active' : '' %>">
                     <i class="fa-sharp fa-regular fa-images" style="color: black;"></i>
                    </div>
                    <span class="nav-link-text ms-1">Banner</span>
                  </a>
                </li>
                <li class="nav-item sidebar-dropdown-menu-item has-dropdown dropdown-toggle" >
                  <a class="nav-link  a-tag rounded-pill " href="#" style="display: flex;">
                    <div class="text-white text-center me-2 d-flex align-items-center justify-content-center <%= currentPage === 'banners' ? 'active' : '' %>">
                     <i class="fa-solid fa-box-open" style="color: black;"></i>
                    </div>
                    <span class="nav-link-text ms-1">Products</span>
                    <i class="ri-arrow-down-s-line sidebar-menu-item-accordion ms-auto"></i>
                  </a>
                  <ul class="sidebar-submenu">
                    <li class="sidebar-submenu-item">
                      <a href="/admin/products" style="font-size: inherit;">All Products</a>
                    </li>
                    <li class="sidebar-submenu-item">
                      <a href="/admin/products/add" style="font-size: inherit;">Add Product</a>
                    </li>
                    <!-- Add more submenu items as needed -->
                  </ul>
                </li>
     </li>
     </ul>
</div>
<div class="sidebar-overlay"></div>
</div>
<!-- end: Sidebar -->