<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>H&F Hub</title>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
    rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__option">
            <div class="offcanvas__links">
            </div>
        </div>
        <div class="offcanvas__nav__option">
            <a href="#" class="search-switch"><img src="img/icon/search.png" alt=""></a>
            <a href="#"><img src="img/icon/heart.png" alt=""></a>
            <a href="#"><img src="img/icon/cart.png" alt=""> <span>0</span></a>
            <div class="price">$0.00</div>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__text">
            <p>Free shipping, 30-day return or refund guarantee.</p>
        </div>
    </div>
    <!-- Offcanvas Menu End -->
    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7">
                        <div class="header__top__left">
                            <p>Free shipping, 30-day return or refund guarantee.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5">
                        <div class="header__top__right">
                            <div class="header__top__links">
                                <a href="#">Sign in</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a href="/home"><span style="color: red;
                            font-size: 34px;
                            font-weight: bold;">H&F</span> <span style="font-size: 20px ;color: black;
                            font-weight: 400;">HUB</span></a>

                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li class="active"><a href="/shop">Shop</a></li>
                            <li><a href="/contact">Contacts</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option">
                        <a href="#" class="search-switch"><img src="img/icon/search.png" alt=""></a>
                        <a href="#"><img src="img/icon/heart.png" alt=""></a>
                        <a href="#"><img src="img/icon/cart.png" alt=""> <span>0</span></a>
                        <div class="price">$0.00</div>
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <!-- Header Section End -->
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Check Out</h4>
                        <div class="breadcrumb__links">
                            <a href="/">Home</a>
                            <a href="/shop">Shop</a>
                            <span>Check Out</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->
    <!-- Checkout Section Begin -->
    <section>
        <div class="container">
            <div class="my-5">
                    <div class="row">
                        <div class="col-lg-8 col-md-6" >
                            <h2 class="">Billing Details</h2>
                            <hr>
                            <div class="cart__discount">
                                <h6>Apply Coupons</h6>
                                <form action="" id="applyCoupon" method="" class="form-group d-flex">
                                    <input type="text" name="code" class="form-group rounded-0 flex-grow-1 border border-bottom-1" style="height: 40px; border-bottom: 1;" placeholder="Enter Coupon code">
                                    <button type="submit" class="btn btn-dark rounded-0" style="margin-left: -5px; height: 40px;">Apply</button>
                                </form>
                                <div style="position: relative; top: 10px;">
                                    <a class="text-primary exploreModal" style="cursor: pointer;" data-toggle="modal" data-target="#exploreCouponsModal">Show Coupons</a>
                                    <h6 class="text-danger" id="couponErr"></h6>
                                </div>
                            </div>
                <form action="/place-order" method="post" id="checkout-form" onsubmit="return validateForm()">
                            <% 
                            if (userAddress.length > 0 && userAddress[0].addresses.length > 0) {
                                userAddress[0].addresses.forEach((address) => {
                                    %>
                                    <div class="card mb-3">
                                        <div class="card-body d-flex">
                                            <div class="mx-3">
                                                <input type="radio" name="address" id="<%= address._id %>"  value="<%= address._id %>" checked>
                                            </div>
                                            <div>
                                                <h5 class="card-title"><%= address.userName %></h5>
                                                <p><%= address.email %></p>
                                                <p class="card-text">
                                                  <%= address.town %> <%= address.mobile%> <%= address.state %> <%= address.country %> <%= address.zip %> <%= address.address %>
                                                </p>
                                                <!-- <a href="#" class="btn btn-primary">Edit</a> -->
                                            </div>
                                        </div>
                                    </div>
                                    <%  
                                })
                            }
                            if (userAddress.length > 0 && userAddress[0].addresses.length >= 5) {
                                %>
                                <div class="row d-flex justify-content-end mx-3">
                                    <p>You can add max of 5 Addresses</p>
                                </div>
                                <%
                            }else {
                                %>
                                <div class="row d-flex justify-content-end mx-3">
                                    <a href="/profile/addAddress?returnPage=checkout" class="btn btn-dark">Add Address</a>
                                </div>
                                <%
                            }
                            %>
                        </div>
                        <!-- right side -->
                        <div class="col-lg-4 col-md-6 mt-5 ps-2">
                            <div class="px-3 pt-3 pb-5 " style="background-color: #EBEFF1;">
                                <div class="">
                                    <div>
                                        <h3>Your Order</h3>
                                    </div>
                                    <hr>
                                    <div class="">
                                        <% 
                                        cart.forEach((pdt) => {
                                            %>
                                            <div class="row">
                                                <div class="col-8">
                                                    <div class="mt-3 pb-2">
                                                        <span><%= pdt.product.name %> x <%= pdt.quantity %></span>
                                                    </div>
                                                </div>
                                                <div class="col-4">
                                                    <div class="mt-3 pb-2">
                                                        <% 
                                                        if(pdt.product.offerPrice){
                                                            console.log('product has offer')
                                                            currPrice = pdt.product.offerPrice
                                                        }else{
                                                            currPrice = pdt.product.price - pdt.product.discountPrice
                                                        }
                                                        //discountPercentage = Math.floor(100 - ( (currPrice*100)/pdt.product.price ));
                                                        %>
                                                        <span>₹ <%= currPrice  * pdt.quantity %></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <% 
                                        })
                                        %>
                                    </div>
                                    <div class="mt-4 mb-4">
                                        <hr>
                                    </div>
                                    <!-- price -->
                                    <% 
                                    //console.log(cart)
                                    let totalPrice = 0;
                                    let totalDiscount = 0
                                    for(let i=0; i<cart.length; i++){
                                        totalPrice += cart[i].product.price*cart[i].quantity
                                        if(cart[i].product.offerPrice){
                                            totalDiscount += (cart[i].product.price - cart[i].product.offerPrice)*cart[i].quantity
                                        }else{
                                            totalDiscount += cart[i].product.discountPrice*cart[i].quantity
                                        }
                                    }
                                    %>
                                    <div class="row">
                                        <div class="col-8">
                                            <div class="mb-3">
                                                <span><strong>MRP Total:</strong></span>
                                            </div>
                                            <div class="mb-3">
                                                <span><strong>Discount</strong></span>
                                            </div>
                                            <div class="mb-3" id="couponDiscountLabelDiv" hidden>
                                                <span>
                                                    <strong>Coupon Discount</strong>
                                                    <a href="" onclick="removeCoupon()">remove</a>
                                                </span>
                                            </div>
                                            <div class="mb-3">
                                                <span><strong>Total</strong></span>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="mb-3">
                                                <span>₹ <%= totalPrice %></span>
                                            </div>
                                            <div class="mb-3">
                                                <span style="color: rgb(0, 164, 19);">-₹ <%= totalDiscount %></span>
                                            </div>
                                            <div class="mb-3" id="couponDiscountDiv" hidden>
                                                <span id="couponDiscount" style="color: rgb(0, 164, 19);">-₹ </span>
                                            </div>
                                            <div class="mb-3">
                                                <% 
                                                let payAmount = totalPrice-totalDiscount
                                                %>
                                                <span id="payAmount"><strong>₹ <%= payAmount%></strong> </span>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden" id="hiddenTotalPrice" value="<%= totalPrice %>">
                                    <input type="hidden" id="hiddenTotalDiscount" value="<%= totalDiscount %>">
                                    <input type="hidden" id="hiddenPayAmount" value="<%= payAmount %>">
                                    <hr>
                                    <!-- payment -->
                                </div>
                                <div class="mb-2">
                                    <h5 class="mb-4">Choose Payment Method</h5>
                                    <select id="paymentMethod" name="payment">
                                        <option value="COD" selected>Cash on Delivery (COD)</option>
                                        <option value="Razorpay">Online Payment</option>
                                        <% 
                                        if(walletBalance > 0 && walletBalance >= totalPrice){
                                            %>
                                            <option value="Wallet" <% if(walletBalance >= totalPrice){ %>  <% } %>>Use Wallet Balance (&#8377; <%= walletBalance %>)</option>
                                            <%  
                                        }
                                        %>
                                    </select>
                                </div>
                                <div class="text-center">
                                    <button type="submit"class="btn rounded-pill w-100 btn-dark mt-4" <% if(!userAddress){  %> disabled <%  } %>>Place Order</button>
                                    <% if(!userAddress){  %> <p>Add address to place order</p> <%  } %>
                                </div>
                                <div style="margin-top: 20px;" id="error-message" class="text-danger"></div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- Checkout Section End -->
   <!-- Modal -->
<div class="modal fade" id="exploreCouponsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Explore Coupons</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="height: 70vh; overflow-y: auto;">
                <% if (coupons && coupons.length) { %>
                <% coupons.forEach(coupon => { %>
                <div class="card px-2 mb-4">
                    <div class="coupon bg-white rounded mb-3 d-flex justify-content-between border-1">
                        <div class="tengah  d-flex w-100 justify-content-start">
                            <div class="p-2">
                                <% if (coupon.usedUsers.includes(userId)) { %>
                                <span class="badge badge-danger my-1">Used</span>
                                <% } else { %>
                                <span class="badge badge-success my-1">Not Used</span>
                                <% } %>
                                <h4 class="lead my-1"><strong><%= coupon.code %></strong></h4>
                                <p class="text-muted mb-0 my-1"><%= coupon.description %></p>
                            </div>
                        </div>
                        <div class="d-flex align-items-center">
                            <div class="info m-3 mt-4">
                                <a id="<%= coupon.code %>" class="btn btn-sm btn-outline-secondary btn-block" onclick="copyCoupon('<%= coupon.code %>')">COPY</a>
                            </div>
                        </div>
                    </div>
                </div>
                <% }) %>
                <% } else { %>
                <small>No Coupons Available</small>
                <% } %>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Include Bootstrap JavaScript and jQuery -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                        </div>
                        <p>The customer is at the heart of our unique business model, which includes design.</p>
                        <a href="#"><img src="img/payment.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Clothing Store</a></li>
                            <li><a href="#">Trending Shoes</a></li>
                            <li><a href="#">Accessories</a></li>
                            <li><a href="#">Sale</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Payment Methods</a></li>
                            <li><a href="#">Delivary</a></li>
                            <li><a href="#">Return & Exchanges</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6>NewLetter</h6>
                        <div class="footer__newslatter">
                            <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                            <form action="#">
                                <input type="text" placeholder="Your email">
                                <button type="submit"><span class="icon_mail_alt"></span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->
    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery.nicescroll.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
        <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
$('#checkout-form').submit((e) => {
    e.preventDefault();
    const selectedPaymentMethod = $('#paymentMethod').val(); 
    const selectedAddressElement = document.querySelector('input[name="address"]:checked'); 
    const selectedAddressDetails = selectedAddressElement ? selectedAddressElement.value : null; 
    if (!selectedAddressDetails) {
        return;
    }
    // Update the data object with the selected payment method
    const formData = $('#checkout-form').serializeArray();
    formData.push({ name: 'payment', value: selectedPaymentMethod });
    formData.push({ name: 'selectedAddress', value: selectedAddressDetails });
        $.ajax({
            url: '/place-order',
            method: 'post',
            data: formData,
            success: (res) => {
                if (res.status == 'COD') {
                    location.href = `/order-success/${res.orderId}?result=success`;
                } else if (res.status == 'Razorpay') {
                    razorpayPayment(res.order);
                } else if (res.status == 'Wallet') {
                    location.href = `/order-success/${res.orderId}?result=success`;
                }
            },
        });
});
function razorpayPayment(order){
        var options = {
            "key": "rzp_test_PEdrGGN9zP5cJw", // Enter the Key ID generated from the Dashboard
            "amount":  Math.round(order.amount * 100), // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            "currency": "INR",
            "name": "Fashion Textiles",
            "description": "Test Transaction",
            "image": "https://example.com/your_logo",
            "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
            "handler": function (response){
                verifyPayment(response,order)
            },
            "prefill": {
                "name": "Gaurav Kumar",
                "email": "gaurav.kumar@example.com",
                "contact": "9000090000"
            },
            "notes": {
                "address": "Fashion Textiles"
            },
            "theme": {
                "color": "#3399cc"
            }
        };
        var rzpl = new Razorpay(options)
        rzpl.open()
    }
    function verifyPayment(response, order) {
    try {
        $.ajax({
            url: '/verifyPayment',
            method: 'post',
            data: {
                response,
                order
            },
            success: (res) => {
                if (res.status == true) {
                    location.href = `/order-success/${res.orderId}?result=success`;
                } else {
                    location.href = `/order-success/${res.orderId}?result=failed`;
                }
            },
            error: (xhr, status, error) => {
                console.log("AJAX Error:", error);
            }
        });
    } catch (error) {
        console.log("AJAX Exception:", error);
    }
}
  </script>
  <script>
    function validateForm() {
        const addressRadioButtons = document.querySelectorAll('input[name="address"]');
        let addressSelected = false;
        for (const radioButton of addressRadioButtons) {
            if (radioButton.checked) {
                addressSelected = true;
                break;
            }
        }
        const payAmount = parseFloat(document.getElementById('hiddenPayAmount').value);
        if (!addressSelected) {
            document.getElementById('error-message').textContent = "Please select an address to proceed.";
            return false; // Prevent form submission
        } else if (payAmount <= 0) {
            document.getElementById('error-message').textContent = "Total amount must be greater than 0 to place the order.";
            return false; // Prevent form submission
        } else {
            document.getElementById('error-message').textContent = ""; // Clear error message
            return true; // Allow form submission
        }
    }
</script>
  <script>
    $('#applyCoupon').submit((e) => {
        e.preventDefault()
        $.ajax({
            url:'/applyCoupon',
            method: 'post',
            data: $('#applyCoupon').serialize(),
            success: (res) => {
                if( res.status === true ){
                    $('#couponDiscount').html(`-₹ ${res.couponDiscount}`)
                    $('#payAmount').html(`₹ ${res.payAmount}`)
                    document.getElementById('couponDiscountDiv').hidden = false
                    document.getElementById('couponDiscountLabelDiv').hidden = false
                    $('#couponErr').html('')
                    const walletCheckBoxDiv = document.getElementById('walletCheckBoxDiv')
                    const walletCheckBox = document.getElementById('walletCheckBox')
                    const razorpayRadio = document.getElementById('Razorpay')
                    const COD = document.getElementById('COD')
                    if(res.isWalletHasPayAmount){
                        walletCheckBoxDiv.hidden = false;
                        walletCheckBox.hidden = true;
                    }
                }else{
                    $('#couponErr').html(res.message)
                }
            }
        })
    })
</script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const walletCheckBox = document.getElementById('walletCheckBox');
        const razorpayRadio = document.getElementById('Razorpay')
        const CODRadio = document.getElementById('COD')
        function updatePaymentOptions(){
            if(walletCheckBox.checked){
                CODRadio.disabled = true
                CODRadio.checked = false
                razorpayRadio.checked = true
            }else{
                CODRadio.disabled = false
            }
        }
        //For initial setup of options
        updatePaymentOptions()
        //Listens to changes of options and update payment options
        walletCheckBox.addEventListener('change',updatePaymentOptions);
    });
</script>
<script>
    function removeCoupon() {
        $.ajax({
            url: '/removeCoupon',
            method: 'get',
            success: (res) => {
                if (res.status == true) {
                    location.reload()
                }
            }
        })
    }
</script>
<script>
    function copyCoupon(couponName) {
        document.getElementById(couponName).innerHTML = "COPIED"
        navigator.clipboard.writeText(couponName);
    }
</script>
</body>
</html>