<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <!-- start: Icons -->
    <!-- start: CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<!-- Cropper CSS -->
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.4/cropper.min.css'>
<!-- Cropper JS -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/cropperjs/0.8.1/cropper.min.js'></script>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.2/dropzone.min.css">
  <!-- start: Icons -->
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- start: Icons -->
<!-- Custom CSS -->
    <link rel="stylesheet" href="/css2/bootstrap.min.css">
    <link rel="stylesheet" href="/css2/style.css">
    <link rel="stylesheet" href="/admin/nucleo-svg.css">
    <link rel="stylesheet" href="/admin/nucleo-icons.css">
    <link rel="stylesheet" href="/admin/material-dashboard.min.css">
    <link rel="stylesheet" href="/admin/material-dashboard.css">
    <script>
      function formatDate(date) {
          const options = { year: 'numeric', month: 'long', day: 'numeric' };
          return date.toLocaleDateString(undefined, options);
      }
    </script>
 <style>
    .delete{
  margin-top: 10px
}
ul>li>a{
            text-decoration: none;
    color: black;
    font-size: 20px;
   margin-left: 15px;
   margin-top: 10px;
   font-family: -webkit-body;
        }
        .show-submenu {
  display: block;
}
.sidebar-submenu {
  display: none;
}

.active {
 background-image: linear-gradient(195deg, #49a3f1 0%, #1A73E8 100%);
color: white; 
}
.a-tag{
        padding: 5px;
    }
    .error{
      color: red;
    }
 </style>
</head>
<body style="overflow-x: hidden;">
  


   
     
  <div class="row">
    <div class="col-lg-2">

             <!-- start: Sidebar -->
   <div class="sidebar position-fixed top-0 bottom-0 bg-white border-end">
    <div class="d-flex align-items-center p-3">
        <a href="#" class="sidebar-logo text-uppercase fw-bold text-decoration-none text-indigo fs-4">Admin</a>
        <i class="sidebar-toggle ri-arrow-left-circle-line ms-auto fs-5 d-none d-md-block"></i>
    </div>
    <ul class="sidebar-menu p-3 m-0 mb-0">
        <li class="sidebar-menu-item <%= currentPage === 'dashboard' ? 'active' : '' %>">
            <a href="/admin/dashboard" class="a-tag rounded-pill">
                <i class="ri-dashboard-line sidebar-menu-item-icon"></i>
                Dashboard
            </a>
        </li>
        <li class="sidebar-menu-divider mt-3 mb-1 text-uppercase">Custom</li>
        <li class="sidebar-menu-item has-dropdown">
           
                <!-- <li class="sidebar-dropdown-menu-item - ">
                    <i class="fa-solid fa-users "></i>
                    <a href="/admin/usersProfile">Users</a>
                    
                  </li> -->

                  <li class="nav-item " >
                    <a  href="/admin/usersProfile" class="nav-link  a-tag rounded-pill <%= currentPage === 'usersProfile' ? 'active' : '' %> "  style="display: flex;">
                    
                        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="fa-solid fa-users " style="color: black;"></i>
                      </div>
                      <span class="nav-link-text ms-1">Users</span>
                    </a>
                  </li>
                  <li class="nav-item " >
                    <a class="nav-link a-tag rounded-pill  "  style="display: flex;" href="/admin/categories">
                      <div class="text-white text-center me-2 d-flex align-items-center justify-content-center  <%= currentPage === 'categories' ? 'active' : '' %>" >
                        <!-- <i class="fa-solid fa-users " style="color: black;"></i> -->
                        <i class="fa-sharp fa-solid fa-tag" style="color: black;"></i>
                      </div>
                      <span class="nav-link-text ms-1">Categories</span>
                    </a>
                  </li>
                  <li class="nav-item " >
                    <a class="nav-link  a-tag rounded-pill " href="/admin/coupons" style="display: flex;">
                      <div class="text-white text-center me-2 d-flex align-items-center justify-content-center <%= currentPage === 'coupons' ? 'active' : '' %>">
                       <i class="fa-solid fa-box-open" style="color: black;"></i>
                      </div>
                      <span class="nav-link-text ms-1">Coupons</span>
                    </a>
                  </li>

                  <li class="nav-item " >
                    <a class="nav-link  a-tag rounded-pill " href="/admin/UsersOrders" style="display: flex;">
                      <div class="text-white text-center me-2 d-flex align-items-center justify-content-center <%= currentPage === 'UsersOrders' ? 'active' : '' %>">
                       <i class="fa-solid fa-bag-shopping" style="color: black;"></i>
                      </div>
                      <span class="nav-link-text ms-1">Orders</span>
                    </a>
                  </li>

                  <li class="nav-item " >
                    <a class="nav-link  a-tag rounded-pill " href="/admin/offers" style="display: flex;">
                      <div class="text-white text-center me-2 d-flex align-items-center justify-content-center <%= currentPage === 'offers' ? 'active' : '' %>">
                       <i class="fa-solid fa-percent" style="color: black;"></i>
                      </div>
                      <span class="nav-link-text ms-1">Offers</span>
                    </a>
                  </li>

                  <li class="nav-item " >
                    <a class="nav-link a-tag rounded-pill  " href="/admin/brandOffers" style="display: flex;">
                      <div class="text-white text-center me-2 d-flex align-items-center justify-content-center <%= currentPage === 'brandOffers' ? 'active' : '' %>">
                       <i class="fa-sharp fa-solid fa-tags" style="color: black;"></i>
                      </div>
                      <span class="nav-link-text ms-1">BrandOffers</span>
                    </a>
                  </li>
                  <li class="nav-item " >
                    <a class="nav-link  a-tag rounded-pill " href="/admin/banners" style="display: flex;">
                      <div class="text-white text-center me-2 d-flex align-items-center justify-content-center <%= currentPage === 'banners' ? 'active' : '' %>">
                       <i class="fa-sharp fa-regular fa-images" style="color: black;"></i>
                      </div>
                      <span class="nav-link-text ms-1">Banner</span>
                    </a>
                  </li>
                  
                  <li class="nav-item sidebar-dropdown-menu-item has-dropdown dropdown-toggle" >
                    <a class="nav-link  a-tag rounded-pill  <%= currentPage === 'Products' ? 'active' : '' %>" href="#" style="display: flex;">
                      <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                       <i class="fa-solid fa-box-open" style="color: black;"></i>
                      </div>
                      <span class="nav-link-text ms-1">Products</span>
                      <i class="ri-arrow-down-s-line sidebar-menu-item-accordion ms-auto"></i>
                    </a>
                    <ul class="sidebar-submenu">
                      <li class="sidebar-submenu-item">
                        <a href="/admin/products" style="font-size: inherit;">All Products</a>
                      </li>
                      <li class="sidebar-submenu-item">
                        <a href="/admin/products/add" style="font-size: inherit;">Add Product</a>
                      </li>
                      <!-- Add more submenu items as needed -->
                    </ul>
                  </li>

                
       </li>
       </ul>
    
</div>
<div class="sidebar-overlay"></div>
</div>
<!-- end: Sidebar -->

    <div class="col-lg-10">
        <!-- Navbar -->
  <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" data-scroll="true">
    <div class="container-fluid py-1 px-3 ">
      <nav aria-label="breadcrumb">
        
        <h6 class="font-weight-bolder mb-0"><%= currentPage %></h6>
      </nav>
      <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4 d-flex justify-content-end" id="navbar">

        <ul class="navbar-nav d-flex justify-content-end ">

          <li class="nav-item d-xl-none ps-3 d-flex align-items-center me-2">
            <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
              <div class="sidenav-toggler-inner">
                <i class="sidenav-toggler-line"></i>
                <i class="sidenav-toggler-line"></i>
                <i class="sidenav-toggler-line"></i>
              </div>
            </a>
          </li>

          <li class="nav-item d-flex align-items-center">
            <a href="/admin/logout" class="nav-link text-body font-weight-bold px-0">
              
              <form action="/admin/logout" method="post">
                <i class="fa fa-user me-sm-1"></i>
                <button class="border-0 bg-transparent text-bold" type="submit"><span class="d-sm-inline d-none opacity-7">Log Out</span></button>
              </form>
              
            </a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->


    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg " style="padding-left: 25px;">


      <div class="container-fluid py-4" >
       <div class="row">
         <div class="col-12">
           <div class="card my-4">
             <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
               <div class="bg-gradient-info shadow-primary border-radius-lg pt-4 pb-3 d-flex justify-content-between">
                 <h6 class="text-white text-capitalize ps-3">Add Product</h6>
     
               </div>
             </div>
             <div class="card-body px-0 pb-2">
               <div class="table-responsive p-0">
     
                   <!-- Copeid Code Start -->
                   
     
     
                   <form class="p-4 border border-2 border-black" action="/admin/products/add" method="post" enctype="multipart/form-data">
                       <div class="row input-group input-group-outline mb-3">
                        <div class="form-group col-md-4">
                            <label for="brand">Brand</label>
                            <input type="brand" class="form-control " name="brand" id="brand" placeholder="Brand">
                            <small id="brandErr" class="error"></small>
                        </div>
                           <div class="form-group col-md-8">
                               <label for="name">Product Name</label>
                               <input type="name" class="form-control" name="productName" id="name" placeholder="Product name">
                               <small id="nameErr" class="error"></small>
                              </div>
                       </div>
                       <div class="row input-group input-group-outline mb-3">
                           <div class="col-md-4">
                               <div class="form-group">
                                   <label for="category">Category</label>
                                   <select id="category" name="category" class="form-control">
                                       <% if(categories.length>0){ 
                                               for(let i=0;i<categories.length;i++){%>
                                                   <option>
                                                       <%= categories[i].name %>
                                                   </option>
                                            <% } %>
                                       <% }else{ %>
                                               <option value="">No categories</option>
                                       <% } %>
                                   </select>
                               </div>
               
                               <div class="form-group">
                                <label for="stock">Stock</label>
                                <input type="number" class="form-control" id="stock" name="stock" required>
                                <small id="stockErr" class="error"></small>
                              </div>
               
                           </div>
                           <div class="form-group col-md-8">
                               <label for="inputAddress">Description</label>
                               <textarea type="text" rows="4" class="form-control" name="description" id="inputAddress"
                                   placeholder="Enter Product Description"></textarea>
                                   <small id="descriptionErr" class="error"></small>
                           </div>
                       </div>
                       <div class="row input-group input-group-outline mb-3">
                          
                           <div class="col-md-4">
                               <label for="price">Price</label>
                               <input type="number" name="price" id="price" class="form-control" placeholder="price">
                               <small id="priceErr" class="error"></small>
                              </div>
                           <div class="col-md-4">
                               <label for="dprice">Discount Price</label>
                               <input type="number" name="dprice" id="dprice" class="form-control" placeholder="Discount price">
                               <small id="dpriceErr" class="error"></small>
                              </div>
                       </div>
               
                       <div class="form-group">
                           <label>Choose product images</label>
                       </div>
                       
                        <div class="row">
                        <div >
                        <!-- Left Column: Images -->
                        <div class="product-add">
                          <small id="imageErr" class="error"></small>
                        <form action="/products/add" method="POST" enctype="multipart/form-data">
                        <div class="product-add-form shadow-lg">
                        <h3>Add Images</h3>
                        
                        <div class="image-container" id="imageContainer1" >
                        <!-- <input type="file" class="image-input" id="image1" name="images" accept=".jpg, .jpeg, .png, .gif" multiple required> -->
                        <div class="row">
                          <div class="col-lg-6">
                            <main class="page shadow-lg"  style="padding: 0px;">
                              <!-- First input file -->
                              <div class="box">
                              <input type="file" class="file-input" name="images" multiple>
                              <button class="btn delete-image-button btn-danger delete">Delete Image</button>
                              </div>
                              <div class="box-2">
                              <div class="result"></div>
                              </div>
                              <div class="box-2 img-result hide">
                              <img class="cropped" src="" alt="">
                              </div>
                              <div class="box">
                              <div class="options hide">
                              <label>Width</label>
                              <input type="number" class="img-w" value="300" min="100" max="1200" />
                              </div>
                              <button class="btn save hide btn-success">Save</button>
                              <a href="" class="btn download hide  btn-info">Download</a>
                              </div>
                              </main>
                          </div>
                          <div class="col-lg-6">
                            <main class="page shadow-lg"  style="padding: 0px;">
                              <!-- Second input file -->
                              <div class="box">
                              <input type="file" class="file-input" name="images" multiple>
                              <button class="btn delete-image-button btn-danger delete">Delete Image</button>
                              </div>
                              <div class="box-2">
                              <div class="result"></div>
                              </div>
                              <div class="box-2 img-result hide">
                              <img class="cropped" src="" alt="">
                              </div>
                              <div class="box">
                              <div class="options hide">
                              <label>Width</label>
                              <input type="number" class="img-w" value="300" min="100" max="1200" />
                              </div>
                              <button class="btn save hide btn-success">Save</button>
                              <a href="" class="btn download hide  btn-info">Download</a>
                              </div>
                              </main>
                          </div>
                          <div class="col-lg-6">
                            <main class="page shadow-lg"  style="padding: 0px;">
                              <!-- Third input file -->
                              <div class="box">
                              <input type="file" class="file-input"name="images" multiple>
                              <button class="btn delete-image-button btn-danger delete">Delete Image</button>
                              </div>
                              <div class="box-2">
                              <div class="result"></div>
                              </div>
                              <div class="box-2 img-result hide">
                              <img class="cropped" src="" alt="">
                              </div>
                              <div class="box">
                              <div class="options hide">
                              <label>Width</label>
                              <input type="number" class="img-w" value="300" min="100" max="1200" />
                              </div>
                              <button class="btn save hide btn-success">Save</button>
                              <a href="" class="btn download hide btn-info">Download</a>
                              </div>
                              </main>
                          </div>
                          <div class="col-lg-6">
                            <main class="page shadow-lg" style="padding: 0px;">
                              <!-- Fourth input file -->
                              <div class="box">
                              <input type="file" class="file-input"name="images" multiple>
                              <button class="btn delete-image-button btn-danger delete">Delete Image</button>
                              </div>
                              <div class="box-2">
                              <div class="result"></div>
                              </div>
                              <div class="box-2 img-result hide">
                              <img class="cropped" src="" alt="">
                              </div>
                              <div class="box">
                              <div class="options hide">
                              <label>Width</label>
                              <input type="number" class="img-w" value="300" min="100" max="1200" />
                              </div>
                              <button class="btn save hide btn-success">Save</button>
                              <a href="" class="btn download hide  btn-info">Download</a>
                              </div>
                              </main>
                          </div>
                      
                       
                      
                     
                      </div>
                        <!-- <button type="button" class="delete-image-button">Delete</button> -->
                        </div>
                        <div class="image-preview" id="imagePreview"></div>
                        </div>
                        </div>
                        </div>
                       <br>
                       <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-info" style="margin-top: 10px;" onclick="return validateForm()">Add Product</button>

                       </div>
                   </form>
     
     
     
                   <!-- Copeid Code End -->
     
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
     
     
     </main>
     
  </div>

</div>

  <!--Code to Block one block of sizes, if selected from one  -->
  <script>
      function handleCheckboxChange() {
          var frCheckboxes = document.querySelectorAll('#size-number input[type="checkbox"]');
          var anDiv = document.getElementById('size-character');

          // Check if any checkbox in the "fr" div is selected
          var isChecked = Array.from(frCheckboxes).some(function (checkbox) {
              return checkbox.checked;
          });

          // Enable or disable the "an" div based on the checkbox state
          if (isChecked) {
              anDiv.style.pointerEvents = 'none'; // Disable the div
              anDiv.style.opacity = '0.5'; // Optional: Reduce the opacity to indicate it's disabled
          } else {
              anDiv.style.pointerEvents = 'auto'; // Enable the div
              anDiv.style.opacity = '1'; // Optional: Restore the original opacity
          }
      }


      function handleCheckboxChange1() {
          var frCheckboxes = document.querySelectorAll('#size-character input[type="checkbox"]');
          var anDiv = document.getElementById('size-number');

          // Check if any checkbox in the "fr" div is selected
          var isChecked = Array.from(frCheckboxes).some(function (checkbox) {
              return checkbox.checked;
          });

          // Enable or disable the "an" div based on the checkbox state
          if (isChecked) {
              anDiv.style.pointerEvents = 'none'; // Disable the div
              anDiv.style.opacity = '0.5'; // Optional: Reduce the opacity to indicate it's disabled
          } else {
              anDiv.style.pointerEvents = 'auto'; // Enable the div
              anDiv.style.opacity = '1'; // Optional: Restore the original opacity
          }
      }
  </script>


  <script src="/productValidation.js"></script>

  <script src="/js2/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js" integrity="sha512-sW/w8s4RWTdFFSduOTGtk4isV1+190E/GghVffMA9XczdJ2MDzSzLEubKAs5h0wzgSJOQTRYyaz73L3d6RtJSg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/js2/bootstrap.bundle.min.js"></script>
  <script src="/js2/script.js"></script>
  <!-- end: JS -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
 
 <!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous"></script>

<script>
document.addEventListener("DOMContentLoaded", function () {
const deleteButtons = document.querySelectorAll(".delete-image-button");
const addImageButtons = document.querySelectorAll(".add-image-button");
deleteButtons.forEach((button, index) => {
button.addEventListener("click", function () {
// Clear the currently displayed image
resultDivs[index].innerHTML = "";
imgResultContainers[index].classList.add("hide");
croppedImages[index].src = "";
});
});
addImageButtons.forEach((addButton) => {
addButton.addEventListener("click", function () {
const mainElement = addButton.closest(".page");
const newMainElement = mainElement.cloneNode(true);
const deleteButton = newMainElement.querySelector(".delete-image-button");
// Reset the input field and hide the result and cropped image
const fileInput = newMainElement.querySelector(".file-input");
const resultDiv = newMainElement.querySelector(".result");
const imgResultDiv = newMainElement.querySelector(".img-result");
const saveButton = newMainElement.querySelector(".save");
const downloadLink = newMainElement.querySelector(".download");
fileInput.value = "";
resultDiv.innerHTML = "";
imgResultDiv.classList.add("hide");
saveButton.classList.add("hide");
downloadLink.classList.add("hide");
// Reset the image width value
const imgWidthInput = newMainElement.querySelector(".img-w");
imgWidthInput.value = "150";
// Append the new set of input fields after the last one
mainElement.parentNode.insertBefore(newMainElement, mainElement.nextSibling);
});
});
const productForm = document.getElementById("productForm"); // Assuming your form has the id "productForm"

let imageFiles = []; // Array to store the saved image files

const fileInputs = document.querySelectorAll(".file-input");
fileInputs.forEach((upload, index) => {
let result = document.querySelectorAll('.result')[index],
img_result = document.querySelectorAll('.img-result')[index],
img_w = document.querySelectorAll('.img-w')[index],
options = document.querySelectorAll('.options')[index],
save = document.querySelectorAll('.save')[index],
cropped = document.querySelectorAll('.cropped')[index],
dwn = document.querySelectorAll('.download')[index],
cropper = '';

upload.addEventListener('change', e => {
if (e.target.files.length) {
// start file reader
const reader = new FileReader();
reader.onload = e => {
if (e.target.result) {
// create new image
let img = document.createElement('img');
img.id = 'image';
img.src = e.target.result;
// clean result before
result.innerHTML = '';
// append new image
result.appendChild(img);
// show save btn and options
save.classList.remove('hide');
options.classList.remove('hide');
// init cropper
cropper = new Cropper(img);
}
};
reader.readAsDataURL(e.target.files[0]);
}
});

save.addEventListener('click', e => {
e.preventDefault();
// get result to data uri
let imgSrc = cropper.getCroppedCanvas({
width: img_w.value // input value
}).toDataURL();
// remove hide class of img
cropped.classList.remove('hide');
img_result.classList.remove('hide');
// show image cropped
cropped.src = imgSrc;
dwn.classList.remove('hide');
dwn.download = 'imagename.png';
dwn.setAttribute('href', imgSrc);

// Add the saved image to the array
const blob = dataURItoBlob(imgSrc);
imageFiles[index] = new File([blob], 'image.png');
console.log("Image Files Array:", imageFiles);
});
});

productForm.addEventListener("submit", async (e) => {
e.preventDefault();

const formData = new FormData(productForm);

// Append the saved images to the form data
imageFiles.forEach((file, index) => {
formData.append(`images_${index}`, file);
});
console.log("Form Data Before Submit:", formData);
try {
const response = await fetch("/products/add", {
method: "POST",
body: formData,
});

if (response.ok) {
// Handle successful response (e.g., redirect)
} else {
// Handle error response
}
} catch (error) {
console.error(error);
}
});
});

// Function to convert data URI to Blob
function dataURItoBlob(dataURI) {
const byteString = atob(dataURI.split(',')[1]);
const mimeString = dataURI.split(',')[0].split(':')[1].split(';')[0];
const ab = new ArrayBuffer(byteString.length);
const ia = new Uint8Array(ab);
for (let i = 0; i < byteString.length; i++) {
ia[i] = byteString.charCodeAt(i);
}
return new Blob([ab], { type: mimeString });
}

</script>
<script>
let fileInputs = document.querySelectorAll('.file-input');
fileInputs.forEach((upload, index) => {
let result = document.querySelectorAll('.result')[index],
img_result = document.querySelectorAll('.img-result')[index],
img_w = document.querySelectorAll('.img-w')[index],
options = document.querySelectorAll('.options')[index],
save = document.querySelectorAll('.save')[index],
cropped = document.querySelectorAll('.cropped')[index],
dwn = document.querySelectorAll('.download')[index],
cropper = '';
upload.addEventListener('change', e => {
if (e.target.files.length) {
// start file reader
const reader = new FileReader();
reader.onload = e => {
if (e.target.result) {
// create new image
let img = document.createElement('img');
img.id = 'image';
img.src = e.target.result;
// clean result before
result.innerHTML = '';
// append new image
result.appendChild(img);
// show save btn and options
save.classList.remove('hide');
options.classList.remove('hide');
// init cropper
cropper = new Cropper(img);
}
};
reader.readAsDataURL(e.target.files[0]);
}
});
save.addEventListener('click', e => {
e.preventDefault();
// get result to data uri
let imgSrc = cropper.getCroppedCanvas({
width: img_w.value // input value
}).toDataURL();
// remove hide class of img
cropped.classList.remove('hide');
img_result.classList.remove('hide');
// show image cropped
cropped.src = imgSrc;
dwn.classList.remove('hide');
dwn.download = 'imagename.png';
dwn.setAttribute('href', imgSrc);
});
});
</script>



<script>
  function validateForm() {
      let isValid = true;

      // Reset previous error messages
      const errorElements = document.querySelectorAll('.error');
      errorElements.forEach((error) => (error.textContent = ''));

      // Brand validation
      const brandInput = document.getElementById('brand');
      const brandErr = document.getElementById('brandErr');
      if (brandInput.value.trim() === '') {
          brandErr.textContent = 'Brand is required.';
          isValid = false;
      }

      // Product Name validation
      const nameInput = document.getElementById('name');
      const nameErr = document.getElementById('nameErr');
      if (nameInput.value.trim() === '') {
          nameErr.textContent = 'Product name is required.';
          isValid = false;
      }

   
      // Category validation
      const categoryInput = document.getElementById('category');
      const categoryErr = document.getElementById('categoryErr');
      if (categoryInput.value === '') {
          categoryErr.textContent = 'Please select a category.';
          isValid = false;
      }

      // Stock validation
      const stockInput = document.getElementById('stock');
      const stockErr = document.getElementById('stockErr');
      const stockValue = parseInt(stockInput.value);
      if (isNaN(stockValue) || stockValue < 0) {
          stockErr.textContent = 'Enter Stock it must be a positive number.';
          isValid = false;
      }

      // Price validation
      const priceInput = document.getElementById('price');
      const priceErr = document.getElementById('priceErr');
      const priceValue = parseFloat(priceInput.value);
      if (isNaN(priceValue) || priceValue < 0) {
          priceErr.textContent = 'Price must be a positive number.';
          isValid = false;
      }

      // Discount Price validation
      const dpriceInput = document.getElementById('dprice');
      const dpriceErr = document.getElementById('dpriceErr');
      const dpriceValue = parseFloat(dpriceInput.value);
      if (dpriceInput.value.trim() !== '' && (isNaN(dpriceValue) || dpriceValue < 0)) {
          dpriceErr.textContent = 'Discount price must be a positive number.';
          isValid = false;
      }

      // Image validation (check at least one image is selected)
      const imageInputs = document.querySelectorAll('.file-input');
      let hasImage = false;
      imageInputs.forEach((input) => {
          if (input.files.length > 0) {
              hasImage = true;
          }
      });

      if (!hasImage) {
          const imageErr = document.getElementById('imageErr');
          imageErr.textContent = 'Please select all images.';
          isValid = false;
      }

         //Discription validation 
         const description = document.getElementById('inputAddress').value;
      if (description.trim() === '') {
        document.getElementById('descriptionErr').textContent = 'Description is required.';
        return false;
    } else {
        document.getElementById('descriptionErr').textContent = ''; // Clear the error message
    }


      return isValid;
  }
</script>


</body>

</html>

