<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>H&F Hub</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
    rel="stylesheet">
    <!-- Css Styles -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
   <style>
    /* Example CSS for styling the filter section */
    body{
        overflow-x: hidden;
    }
.filter-section {
  background-color: #f5f5f5;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.filter-section h5 {
  margin-top: 10px;
}
.form-select {
  width: 100%;
}
.list-inline{
    padding-left: 0;
    list-style: none;
    font-size: x-large;
    margin-top: 15px;
    text-decoration: none;
 }
 a{
    color:rgb(3, 3, 3)
 }
.filter-section {
   height: 207px;
}
   </style>
</head>
<body>
    <!-- Page Preloder -->
    <!-- <div id="preloder">
        <div class="loader"></div>
    </div> -->
  <!-- Offcanvas Menu Begin -->
  <div class="offcanvas-menu-overlay"></div>
  <div class="offcanvas-menu-wrapper">
      <div class="offcanvas__option">
          <div class="offcanvas__links">
              <% if (user && user.name) { %>
                  <p>Welcome, <%= user.name %></p>
                  <a href="/logout">Logout</a>
                <% } else { %>
                  <a href="/login">Sign In</a>
                <% } %>
          </div>
      </div>
      <div class="offcanvas__nav__option">
          <a href="#" class="search-switch"><img src="img/icon/search.png" alt=""></a>
          <a href="#"><img src="img/icon/heart.png" alt=""></a>
          <a href="/shopping-cart"><img src="img/icon/cart.png" alt=""> <span>0</span></a>
          <div class="price">Cart$0.00</div>
      </div>
      <div id="mobile-menu-wrap"></div>
      <div class="offcanvas__text">
          <p>Free shipping, 30-day return or refund guarantee.</p>
      </div>
  </div>
  <!-- Offcanvas Menu End -->
    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7" style="display: flex;
                    align-items: center;">
                        <div class="header__top__left">
                            <p>Free shipping, 30-day return or refund guarantee.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5">
                        <div class="header__top__right ">
                            <div class="header__top__links row" style="display: flex;">
                                <% if (user && user.username !== undefined) { %>
                                    <div class="col-lg-6">
                                        <p style="color:#fff; display: flex;    margin: 0px;
                                        align-items: center;">Welcome   <%= user.username %></p>
                                    </div>
                                    <div class="col-lg-6">
                                    <a href="/logout">Logout</a>
                                    </div>
                                  <% } else { %>
                                   <div class="col-lg-6">
                                    <a href="/login">Sign In</a>
                                   </div>
                                  <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row" style="align-items: center;">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a href="/home"><span style="color: red;
                            font-size: 34px;
                            font-weight: bold;">H&F</span> <span style="font-size: 20px ;color: black;
                            font-weight: 400;">HUB</span></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li class="active"><a href="/shop">Shop</a></li>
                            <li><a href="/contact">Contacts</a></li>
                            <li><a href="/orders">Orders</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option row">
                        <div class="col-lg-6">
                                <form action="/shop" method="get">
                                    <div class="input-group ">
                                        <input type="text" class="form-control   rounded" placeholder="Search for products" name="search" style="    margin-left: -95px">
                                        <div class="input-group-append text-dark">
                                            <span class="input-group-text bg-transparent text-primary rounded">
                                                <i class="fa fa-search"></i>
                                            </span>
                                        </div>
                                    </div>
                                </form>
                        </div>
                        <div class="col-lg-6" style="    margin-top: 6px;">
                            <a href="/profile" class="text-decoreation-none text-dark">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                                </svg>
                            </a>
                            <a href="/wishlist"><img src="/img/icon/heart.png" alt=""></a>
                            <a href="/shopping-cart"><img src="/img/icon/cart.png" alt=""> <span>0</span></a>
                        </div>
                        <!-- <div class="price">Cart</div> -->
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <!-- Header Section End -->
    <!-- Shop Details Section Begin -->
    <section class="shop-details">
        <div class="product__details__pic">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3">
                        <ul class="nav nav-tabs" role="tablist">
                            <% 
                            for(let i=0; i<pdtData.images.length; i++){
                                %>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#" role="tab">
                                        <img src="/uploads/<%= pdtData.images[i] %>" id="<%= pdtData.images[i] %>" alt="product image"
                                        onclick="imgClick(this.id)">
                                    </a>
                                </li>
                                <% 
                            }
                            %>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-9">
                        <div class="tab-content">
                            <div class="tab-pane active" id="imgtab" role="tabpanel">
                                <div class="product__details__pic__item main-image" style="overflow: hidden; height: 400px;">
                                    <img src="/uploads/<%= pdtData.images[0] %>" alt="Main Image" id="main-img">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="product__details__content">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">
                        <div class="product__details__text">
                            <h4><%= pdtData.name %></h4>
                            <div class="d-flex justify-content-center align-items-center" >
                                <h3>&#8377;<%= currPrice  %> <br><span>&#8377;<%= pdtData.price %></span></h3>
                                <h4 class="mx-3 text-success"><%= discountPercentage %>% Off </h4 >
                            </div>
                            <p><%= pdtData.description %></p>
                            <div class="product__details__cart__option">
                                <!-- <div class="quantity">
                                    <div class="pro-qty">
                                        <input type="text" value="1">
                                    </div>
                                </div> -->
                                <% 
                                if(isPdtExistInCart){
                                    %>
                                    <a href="/shopping-cart" class="primary-btn">go to cart</a>
                                    <%  
                                }else{
                                    %>
                                    <a href="/add-to-cart/<%= pdtData._id %>" class="primary-btn">add to cart</a>
                                    <%  
                                }
                                if(isPdtAWish){
                                    %>
                                    <a href="/removeWishlistItem/<%= pdtData._id %>?returnPage=productOverview" style="background-color: red;" class="primary-btn"><i class="bi bi-heart-fill"></i></a>
                                    <%  
                                }else{
                                    %>
                                    <a href="/addToWishlist/<%= pdtData._id %>?returnPage=productOverview" class="primary-btn"><i class="bi bi-heart-fill"></i></a>
                                    <%  
                                }
                                %>
                            </div>
                            <!-- <div class="product__details__btns__option">
                                <a href="#"><i class="fa fa-heart"></i> add to wishlist</a>
                                <a href="#"><i class="fa fa-exchange"></i> Add To Compare</a>
                            </div> -->
                            <div class="product__details__last__option">
                                <h5><span>Guaranteed Safe Checkout</span></h5>
                                <img src="/img/shop-details/details-payment.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ratingAndReview mt-5 mx-3">
            <hr>
            <div class="d-flex justify-content-between">
                <h3>Rating and Reviews</h3>
                <% 
                if(!isUserReviewed){
                    %>
                    <button class="btn roundded-0 p-2 text-dark" style="box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;">
                        <a href="/addReview/<%=pdtData._id%>" class="text-dark">Rate Product</a>
                    </button>
                    <%  
                }else{
                    %>
                    <button class="btn roundded-0 p-2 text-dark" style="box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;">
                        <a href="/editReview/<%=pdtData._id%>" class="text-dark">Edit Review</a>
                    </button>
                    <%  
                }
                %>
            </div>
            <div class="mt-4">
                <div class="row">
                    <% 
                    if(pdtData && pdtData.reviews.length){
                        for(let i=0; i<pdtData.reviews.length && i<4; i++){
                            %>
                            <div class="col-md-6 mb-3">
                                <div class="p-3" style="border: 1px solid rgb(222, 222, 222);">
                                    <div class=" ">
                                        <div class="d-flex align-items-center">
                                            <div <% if(pdtData.reviews[i].rating > 2) {%>
                                                    style="background-color: rgb(17, 201, 0);border-radius: 4px;padding: 2px 5px;"
                                                <% } else if(pdtData.reviews[i].rating == 2){%>
                                                    style="background-color: rgb(255,150,13);border-radius:4px;padding: 2px 5px;"
                                                <% } else if(pdtData.reviews[i].rating == 1){%>
                                                    style="background-color: rgb(237, 40, 33);border-radius:4px;padding: 2px 5px;"
                                                <% } %>>
                                                <span class="text-white">
                                                    <%= pdtData.reviews[i].rating %> 
                                                    <i class="bi bi-star-fill text-white"></i>
                                                </span>
                                            </div>
                                            <strong class="ml-2" style="font-size: 1.2rem;">
                                                <%= pdtData.reviews[i].title %>
                                            </strong>
                                        </div>
                                        <div class="review-content mt-2">
                                            <span class="">
                                                <%= pdtData.reviews[i].description %>
                                            </span><br>
                                            <span class="text-secondary" style="font-size: .8rem;">
                                                <strong class=" text-uppercase ">
                                                    <%= pdtData.reviews[i].username%>
                                                    &nbsp;
                                                    <i class="bi bi-patch-check-fill  me-2"></i>
                                                </strong>
                                                Certified Buyer,
                                                <% 
                                                const dd=pdtData.reviews[i].createdAt.getDate(); 
                                                const mm=pdtData.reviews[i].createdAt.getMonth() + 1; 
                                                const yyyy=pdtData.reviews[i].createdAt.getFullYear(); 
                                                const formattedDate=`${dd}-${mm}-${yyyy}`; 
                                                %>
                                                <span>
                                                    <%=formattedDate %>
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <%  
                        }
                        console.log('review length : '+pdtData.reviews.length)
                        if(pdtData.reviews.length > 4){
                            %>
                            <div class=" p-2 text-center">
                                <a href="/allReviews/<%= pdtData._id %>"
                                    class="btn btn-sm btn-dark">See all Reviews</a>
                            </div>
                            <%  
                        }
                    }
                    %>
                </div>
            </div>
        </div>
    </section>
<script>
    const mainImage = document.querySelector('.main-image');
    const img = document.getElementById('main-img');
    mainImage.addEventListener('mousemove', zoomIn);
    mainImage.addEventListener('mouseleave', zoomOut);
    function zoomIn(event) {
        const boundingRect = mainImage.getBoundingClientRect();
        const mouseX = event.clientX - boundingRect.left;
        const mouseY = event.clientY - boundingRect.top; 
        const offsetX = (mouseX / boundingRect.width) * 100;
        const offsetY = (mouseY / boundingRect.height) * 100;
        img.style.transformOrigin = `${offsetX}% ${offsetY}%`;
        img.style.transform = 'scale(2)'; // Adjust the scale factor as desired
    }
    function zoomOut() {
        img.style.transform = 'scale(1)';
    }
    function imgClick(id) {
        let img = document.getElementById(id).src
        document.getElementById('main-img').src = img
    }
    function selectLabel(element) {
        var labels = document.querySelectorAll('.custom-label');
        for (var i = 0; i < labels.length; i++) {
            labels[i].classList.remove('selected');
        }
        element.classList.add('selected');
    }
    // 
    window.addEventListener('resize', slideImage);
</script>
 <!-- Footer Section Begin -->
 <footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer__about">
                    <div class="footer__logo">
                        <!-- <a href="#"><img src="img/footer-logo.png" alt=""></a> -->
                    </div>
                    <p>The customer is at the heart of our unique business model, which includes design.</p>
                    <a href="#"><img src="img/payment.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                <div class="footer__widget">
                    <h6>Shopping</h6>
                    <ul>
                        <li><a href="#">Clothing Store</a></li>
                        <li><a href="#">Trending Shoes</a></li>
                        <li><a href="#">Accessories</a></li>
                        <li><a href="#">Sale</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6">
                <div class="footer__widget">
                    <h6>Shopping</h6>
                    <ul>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Payment Methods</a></li>
                        <li><a href="#">Delivary</a></li>
                        <li><a href="#">Return & Exchanges</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                <div class="footer__widget">
                    <h6>NewLetter</h6>
                    <div class="footer__newslatter">
                        <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                        <form action="#">
                            <input type="text" placeholder="Your email">
                            <button type="submit"><span class="icon_mail_alt"></span></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->
<!-- Search Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>
<!-- Search End -->
<!-- Js Plugins -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.nice-select.min.js"></script>
<script src="js/jquery.nicescroll.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/jquery.countdown.min.js"></script>
<script src="js/jquery.slicknav.js"></script>
<script src="js/mixitup.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="/js/cart.js"></script>
<script src="js/main.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>